/*---------template-preview-css 15/2/2022--------------*/
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ulk74p');
  src:  url('fonts/icomoon.eot?ulk74p#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ulk74p') format('truetype'),
    url('fonts/icomoon.woff?ulk74p') format('woff'),
    url('fonts/icomoon.svg?ulk74p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dislike:before {
  content: "\e900";
}
.icon-like:before {
  content: "\e901";
}
.a{
    margin-bottom: 10px;
    color: #63686F;
}
.submit_btn{
    border-radius:25px !important;
    font-size:16px !important;
    margin-left:-15px;
    
}
.br-25{
    border-radius: 10px !important;
}
.temp_desc{
    font-size:12px;border-left:5px solid blue;
    border-radius:5px;
    background-color:#e8effa;
    position:relative;
}
.bannar {
    background: no-repeat center;
    background-size:cover;
    height:97vh!important;
    width:100%;
    z-index:1000;
    position:relative;
    padding: 10px;
    display:flex;
    /*align-items:center;*/
    justify-content:center;
    flex-direction:column;
    flex-wrap:wrap;
}
.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
}
.form__group input::-webkit-input-placeholder {
  color: #fff !important;
}
.form__group::placeholder{color:#fff;}
input.form__field::-webkit-input-placeholder, textarea.form__field::-webkit-input-placeholder {
  color: #fff;
}
 .form__field {
	 font-family: inherit;
	 width: 100%;
	 border: 0;
	 border-bottom: 1px solid #bcb9c3;
	 outline: 0;
	 font-size: 1.6rem;
	 color: #000;
	 padding: 2px 0;
	 background: transparent;
	 font-family: 'Nunito', sans-serif;
	 padding:0.6rem;
}

 .form__field:focus {border-bottom: 2px solid #fff;transition: border 0.3s linear, color 0.3s;}

 .que_section h1{font-size: 12px;
 color: #fff;font-weight: 400;}
 .que_section p{
     font-size:24px;
     color:#fff;
 }
 .que_scroll > p
 {
     /*text-transform:capitalize;*/
 } 
 .que_section .item > p {
     /*text-transform:capitalize;*/
     font-size:16px;
 }
 div.stars {display: inline-block;}
 input.star { display: none; }
 label.star {float: right;padding: 11px;font-size: 70px;color: #8d8d8d;transition: all .2s;}
 label.star:hover {color: #fff; }
 input.star:checked ~ label.star:before {content: '\f005';color: #fff;transition: all .25s;}
 input.star-5:checked ~ label.star:before {color: #fff;text-shadow: 0 0 20px #fff;}
 input.star-1:checked ~ label.star:before { color: #fff; }
 label.star:before {content: '\f006';font-family: FontAwesome;}
 .que_card{background-color:transparent;border:1px solid #fff;border-radius:10px;max-height:100px;height:100px;}
 .que_card .card-body .card-title{font-size: 10px; color: #d9e8f5;}
 .sub-question-icon{text-align: center;font-size: 23px;background: transparent;color: #fff;padding:10px;}
 .que_card:hover{background-color:#3c3e428f;}
 .cls_que_selection{border-color: rgba(255, 255, 255, 0.5);border-radius: 10px;
    min-width: 18em;
    cursor: pointer;
    padding: 10px;
    margin: 0 16px 16px 0;
    box-shadow: none;
    outline: none;
    border-style: solid;
    border-width: 1px;display: flex;font-size: 11px;font-weight: 400;color:#fff;
    }
    .cls_que_selection:hover{background-color:#3c3e428f;}

/* ===== Radio Button Styles ====== */

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked),
[type="radio"]:checked,
[type="radio"]:not(:checked){
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden;
}

.checkbox-tools:checked + label,
.checkbox-tools:not(:checked) + label{
	position: relative;
	display: inline-block;
	padding: 1.8rem;
	/*width: 370px;*/
	/*height:120px;*/
	font-size: 14px;
	/*line-height: 20px;*/
	/*letter-spacing: 1px;*/
	/*margin: 0 auto;*/
	margin-left: 5px;
	margin-right: 5px;
	/*margin-bottom: 10px;*/
	/*text-align: center;*/
	border-radius: 5px;
	/*overflow: hidden;*/
	cursor: pointer;
/*	text-transform: uppercase;*/
	color:#fff;
	transition: all 300ms linear; 
	border:1px solid #fff;
	align-items:center;
}
.checkbox-tools:checked + label:hover{font-size:18px;background-color: #77777766;font-weight:700;}
.checkbox-tools:not(:checked) + label:hover{
    font-size:18px;
    background-color: rgba(215,226,238,.6);}


.checkbox-tools:not(:checked) + label{
	background-color: #77777766;
}
.checkbox-tools:checked + label{
	background-color: #ffffff;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	color:#000;font-weight:700;
}
.checkbox-budget:hover{background-color: #d7e2ee59 !important;}

.checkbox-budget:checked + label::before,
.checkbox-budget:not(:checked) + label::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	z-index: -1;
}

.for-checkbox-tools i{font-size: 45px;padding-bottom: 8px;text-align: center !important;}


/* ===== texbox radio button ======  */

	.checkbox-tools1:checked + label:hover{background-color: #fffefdcc;font-weight:300;color:#000;}
    .checkbox-tools1:not(:checked) + label:hover{background-color: #fffefdcc;font-weight:300;color:#000;cursor:pointer;}

    .checkbox-tools1:not(:checked) + label{
    border: 1px solid #ddd;
    padding:9px 17px;
     border-radius:5px;
     color:#fff;
     width:100%;
    margin-top:20px;
    font-size:16px;
    justify-content: left;
    }
    .checkbox-tools1:checked + label{
       background-color: #fffefdcc;font-weight:700;color:#000;
        font-weight: 700;
        border: 1px solid #ddd;
        padding: 9px 17px;
        text-align: left !important;
        border-radius:5px;
        width:100%;
        margin-top:20px;
        font-size:16px;
        justify-content: left;
    }
    .span{
        background: #fff;
        border-radius: 50px;
        height: 20px;
        width: 20px;
        text-align: center;
        margin-right: 0.7rem;
    }
    .checkbox-budget1:hover{background-color: #d7e2ee59 !important;}

.checkbox-budget1:checked + label::before,
.checkbox-budget1:not(:checked) + label::before{
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
    color: #000;
    font-weight: 700;
    border: 1px solid #ddd;
    padding: 5px 14px;
    text-align: left !important;
}


/* Button Styles */

.button {
  display: inline-flex;
  padding:10px 20px;
  width: 150px;
  border: 2px solid #FFFF;
  color: #FFFF;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .9em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius:25px;
  margin-top:20px;
}
.get-started{display: inline-flex;
  padding:10px 20px;
  width: 200px;
  border: 2px solid #FFFF;
  color: #FFFF;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 11px !important;
  letter-spacing: -0.2px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius:25px;
  text-align:center;

}
.button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.button a {
  position: relative;
  transition: all .35s ease-Out;
  color:#fff;
  font-size:15px;
  font-weight:700;
}

.slide {
  width: 100%;
  height: 100%;
  left: -200px;
  background: #fff;
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
  font-weight:700;
}

.button:hover .slide {left: 0;border:1px solid #fff;}
.button:hover a {color: #000 !important;font-weight:700;}
.get-started:hover a {color: #000 !important;font-weight:700;}
/* checkbox style */

/* hide checkbox */
input[type="checkbox"] {
  display: none;
}

/* if checkbox is checked, then do these things */
input[type="checkbox"]:checked + label {
        background-color: #fffefdcc;font-weight:700;color:#000;
        font-weight: 300;
        border: 1px solid #ddd;
        padding:1.2rem;
        text-align: left !important;
        border-radius:5px;
        width:100%;
        margin-bottom:15px;
        font-size:12px;
}

.chk_class label{
border: 1px solid #ddd;
    padding:1.2rem;
    border-radius: 5px;
    color: #fff;
    width: 100%;
    margin-bottom: 14px;
    font-size: 12px;
    
}
/* styles when hovering over options */
 .chk_class label:hover {
  color: #fff;
  cursor: pointer;
  background-color:#fffefd87;
  
  /* transitions and animations */
  -webkit-transition: color .5s ease;
  -moz-transition: color .5s ease;
  -ms-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
}
 .btn_slider {
     background-color: transparent;
     color: #fff;
     padding: 3px 13px;
     font-size: 18px; 
     margin: 0px 4px;
     float: right;
     text-align: right;
 }
 .btn_slider_fixed { 
     position: fixed;
     bottom: 60px;
     right: 113px;

 }
 
.m-ttl{
     font-weight:600;
 }
  .btn_slider_dir{
    width: 40px;
    height: 40px;
    border: solid 3px #ffffff;
      
  }
 .btn_slider {
    background-color: transparent;
    color: #fff;
    /*font-size: 24px !important;*/
    margin: 0px 6px;
    margin-bottom: -25px;
}
.progression{
	width: 300px;
	text-align: center;
}
p.progress-text{
	font-weight: bold;
}
.progress-container{
	display: block;
	background-color: #f4f1ea;
	height: 25px;
}
.progress-bar{
	background-color: #927f64;
	height: 100%;
	width: 0%;
	transition: width 0.5s;
}
.end{
    display: none;
}
.success-content{
    color:#fff;
    font-size:40px;
}
.mt-15{
    margin-top: 10rem!important;
}
.action-btn-disabled {
    cursor: not-allowed !important;
}
.logo-dash-temp{
    max-width:150px;
    margin-top:-20px;
}
.cmp_logo_text{
    margin-top:-10px;
}
.cmp_logo_text i{
    font-size:10px;
    margin-top: -9px;
}
.que_scroll{
    display:flex;
    justify-content:center;
    flex-direction:column;
}
.sub_points_down{
     overflow-y:auto;
    overflow-x:hidden;
    /*height:25rem;*/
    padding-left: 10px;
    padding-right: 10px;
}
.que_scroll::-webkit-scrollbar {
    width: 5px;background-color:#7b217d;border-radius:10px;
}
.que_scroll::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 100px;
}
.scale{border-width: 1px;
    border-style: solid;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    border-radius: 0px;
   /* border-right-width: 0px;*/
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-weight:600;
    font-size: 16px;
    border-color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    margin-left: 0px;
    color: rgb(255, 255, 255);
}
     .scale:checked + label{
       background-color: #fffefdcc;font-weight:700;color:#000;
        font-weight: 700;
        border: 1px solid #ddd;
        text-align: center !important;
        font-size:17px;
    }
    .scale:hover{
        background-color: rgba(255, 255, 255, 0.5);
        z-index: 1;}
.scales{display: flex;}
.scale_txt{position: absolute;
    margin-top: 64px;
    font-weight: 600;
    /*color: #fefefe87;*/
    color: #000;
    text-align:left;
    font-size:12px;
}
.progress {
    position: absolute;
    height: 80px;
    width: 80px;
    background-color: #ebfafe00;
    cursor: pointer;
    left: 26%;
    margin: -6px 0 0 0px;
    }
    .progress-circle {
        transform: rotate(-90deg);
        margin-top: -5px;
    	position:absolute;
    }
    .progress-circle-back {
    	fill: none; 
    	stroke: #9586865e;
    	stroke-width:5px;
    }
    .progress-circle-prog {
    	fill: none; 
    	stroke: #fff;
    	stroke-width: 5px;  
    	stroke-dasharray: 0 999;    
    	stroke-dashoffset: 0px;
        transition: stroke-dasharray 0.7s linear 0s;
    }
    .progress-text {
        position: relative;
        top: 3.5rem;
        font-size: 1.2em;
        left:-4rem;
    }
    .arrow-status a{
        display: inline-block;
        margin: 0 2%;
        border-radius: 50%;
        border: 2px solid #999;
        padding: 10px;
        width: 40px;
        height: 40px;
        font-size: 30px;
        color: #fff;
        position: relative;
        transition: all 0.1s;
        transition: all 0.1s; 
        right: 9rem;
    }
     .arrow-status a i{
         position:absolute;
         top:50%;
         left:50%;
         transform:translate(-50%, -50%);
         color:#000;
         font-size: 2rem;
     }
     .arrow-status{
         padding-top:1rem;
     }
    .right-div{
        position:relative;
        right:-10.2rem;
    }
    .survey-logo{
        width:10rem;
        padding-bottom: 0.5rem;
    }
    .footer-bottom-fixed{
        position:fixed;
        bottom:3rem;
        width:100%;
    }
/*===mobile View===*/
@media screen and (max-width: 480px) { 
    .banner{height:auto;}
    
}
@media only screen and (min-device-width: 480px){
    .banner{height:auto;}
}
.que_section p {
    font-size: 1.3rem;
    color: #fff;
    line-height: 1.4;
}
.modal-dialog.survey-result-modal{
    max-width: 750px !important;
    width:750px !important;
}
.for-checkbox-tools{
    display: flex!important;
    align-items: start;
    justify-content: start;
}
.for-checkbox-tools.que-with-num{
    display: flex!important;
    align-items: flex-start;
    justify-content: flex-start;
}
.first_survey_heading{
    font-size:1.8rem!important;
    padding-bottom: 1.5rem;
}
.boolean_yes_no{
    flex-direction:column;
}
.boolean_yes_no i{
    font-size:7.6rem;
    color:#0dcaf0;
   padding: 1rem 0 0;
}
.boolean_yes_no p{
    font-size:1.8rem;
}

.toolt p{
    font-size:1.7rem;
    word-spacing:.5px
}
.toolt{
   justify-content: space-between;
}
.checkbox-tools:checked + label p{
    color:#000;
}
.wrap-content{
    flex-wrap:wrap;
}
/*.wrap-content .checkbox-tools:not(:checked) + label{*/
/*    width:370px;*/

/*}*/
.next-btn-q{
        display: inline-flex;
    padding: 6px 6px;
    width: 124px;
    border: 2px solid #FFFF;
    color: #FFFF;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .9em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 25px;
    margin-top: 3px;
        margin-top: 15px;
}
.next-btn-q a{
        font-size: 12px;
}
.boolean_yes_no{
    /*width:170px !important;*/
    /*height:130px;*/
    padding:1rem 4.5rem!important;
}
.sub_points_down_chk{
     overflow-y:auto;
    overflow-x:hidden;
    /*height:25rem;*/
    padding-left: 10px;
    padding-right: 10px;
}
.sub_points_rank{
     overflow-y:auto;
    overflow-x:hidden;
    /*height:25rem;*/
    padding-left: 10px;
    padding-right: 10px;
}
.survey-txt{
    overflow: hidden;
    padding: 0px!important;
    margin-top: -1.7rem;
    /*padding-left: 0.7rem!important;*/
    margin-bottom:0rem;
}
input[type="checkbox"]:checked + label .survey-txt{
    color:#000!important;
}
.dropdown-list .survey-txt{
    margin-top: 0rem;
}
input[type="radio"]:checked + label .survey-txt {
    color:#000!important;
    font-weight:300;
}
.sub_points_rank .for-checkbox-tools{
    justify-content:flex-start;
}
.sub_points_down .survey-txt{
    margin-top:0;
} 
.button a.save-next-btn{
    font-size:1.1rem;
}
.boolean-txt{
    display:flex;
    align-items:center;
    justify-content:center;
}
.stars{
    margin-top:-2.2rem;
}
.just_content_center{
        justify-content: space-between !important;
}
.rank_dot_last{
    font-size:1.3rem;
    font-weight:700;
}
.chk_class .mrating_hover:hover {
    color: #fff;
    cursor: auto;
    background-color: #fffefd00;
}
.mrating_hover p:hover {
    color: #fff !important;
}
.boolean_yes_no i{
    background: -webkit-gradient(linear, left top, right top, from(#00D6FF), color-stop(70%, #029AFF));
    background: -o-linear-gradient(left, #00D6FF, #029AFF 70%);
    background: linear-gradient(to right, #00D6FF, #029AFF 70%);
    	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.yes-no-text{
    font-size:1.4rem!important;
}
.close-button{
   width: 32px;
    height: 32px;
    font-size: 2.2rem;
    margin-top: 0.6rem;
    margin-right: 0.6rem;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    border-radius: 50px;
    border: 1px solid #fff;
}
.close-button:hover{
    cursor:pointer;
    color:#000;
    background:#fff;
}